.buttons {
 text-align: center;
 margin: 10px 10px; 
  }

.links{
    text-decoration: none;
    color: #16a085; 
    font-size: 18pt;
    margin-left: 15px;
    
   
}

.imgCenter {
   width: 100%;  
}
         
.h1 {
font-size: 22pt;
color:#373737;
text-align: center;
}
.h2 {
   font-size: 16pt;
   color:#373737;
   text-align: center;
}
.b1  {
   width: 192px; height: 51px;
   font-family:sans-serif;
   color: white;
   font-size: 12pt;
   background-color: #16a085;
   text-transform: uppercase;
  }
  .p3{
     text-align: right;
     font-size: 16px;
     font-family:  AdobeInvisFont, Roboto-Black, Courier;
  }
