.header{
    width: 1600px; 
    height: 900px;
    background-image: url("../картинки/Layer\ 21@1X.png") ;
}
.sertiz{
     font-size: 48px;
     color:white;
     text-transform: uppercase;
}
.awsome{
    font-size: 18px;
    color: white;
    text-transform: capitalize; 
    margin-bottom: 28px;
    margin-top: 16px;
}
.awsome > span {
text-transform: uppercase;
}
.we > span{
    color: #f1ad1d;
    text-align: left;
         
}
.header-container{
    padding-top: 531px;
    padding-left: 215px;
}
.we{
    border: 1px solid white;
    width: 831px;
    font-size: 54px;
    /*padding: 34.5px 30px;*/
    height: 129px;
    line-height: 2.5;
    padding-left: 30px;
    text-transform: uppercase;
     color: white;
    background-color:rgba(0, 0, 0, 0.2);
    line-height: 2.5;
    padding-left: 30px;

}
hr {
    width: 60px;    
    height: 3px;
    background-color: #f1ad1d;
    margin-top: 52px;
}
.about {
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    margin-top: 72px;

}
.description > span{
    text-transform: capitalize;
    }
.description {
    text-align: center;
    font-size: 17px;
    margin-top: 35px;

}
.award{
    width: 1600px;
}

.img-award {
    width: 300px;
    margin:  0 auto;
    margin-top: 55px;

}
.nav-bar ul li {
    display: inline-block;
}
.nav-bar> div {
    display: inline-block;
}
.nav-bar {
    width: 1169px;
    margin: 0 auto;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #f1ad1d; 
    margin-top: 92px;  
    

}
.nav-text{
    font-weight: bold;
    text-transform: uppercase;
    color: #f1ad1d;
    font-size: 24px;
    
}
.nav-list a {
    font-size: 18px;
    text-decoration: none;
    font-variant: small-caps;
    color: #3d3d3d;
    margin-left: 60px;
}
.nav-list {
    text-align: right;
    margin-left: 320px;
}
